extends ../layout

block content
  h2 Editar Álbum

  form(action=`/album/editar/${album.id_album}` method="POST")
    .mb-3
      label(for="titulo") Título
      input.form-control(
        type="text",
        name="titulo",
        id="titulo",
        required,
        value=album.titulo
      )

    button.btn.btn-success.mt-2(type="submit") Guardar cambios
    a.btn.btn-secondary.mt-2.ms-2(href="/album/mis-albumes") Cancelar
